{% extends "layout.html" %}
{% block body %}
<h2>Welcome to crouting!</h2>

  <form action="{{ url_for('add_robot') }}" method=post>
    <dl>
      <dt>What is the team number?:
      <dd><input type=text size=30 name="name">
      <!--
      <dt>Can the robot climb?:
      <form role="form" method="post">
    <input type="checkbox" name="yesBox"> Yes <input type="checkbox" name="noBox"> No
    <button type="submit" name="submit" value="submit">Submit</button> 
      </form> -->
      <dt>Text:
      <dd><textarea name=desc rows=5 cols=40></textarea>
      <dd><input type=submit value=Share>

      <div class="container"><br>
    </dl>
  </form>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.climb }}</h2>{{ entry.name|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

{% endblock %}