{% extends "layout.html" %}
{% block body %}
<h2>Welcome to crouting!</h2>

  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>What is the team number?:
      <dd><input type=text name="teamNumber">
      <dt>Can the robot climb?:
      <form role="form" method="post">
    <input type="checkbox" name="yesBox"> Yes <input type="checkbox" name="noBox"> No
    <button type="submit" name="submit" value="submit">Submit</button>
  </form>
      <dd><input type=submit value=Login>
      <div class="container"><br>
  
    </dl>
  </form>

{% endblock %}